
<div class="button-wrapper">
    <button class="buttons inner-button"><span>Erinnerung Erstellen</span></button>
</div>

<div class="reminder-div">
    <form action="" (submit)="create()">
        <input type="text" name="title" [(ngModel)]="title"><br>
        <input type="text" name="description" [(ngModel)]="description"><br>
        <input type="text" name="date" [(ngModel)]="date"><br>
        <input type="text" name="location" [(ngModel)]="location"><br><br>
        <button type="submit" (click)="create" class="buttons outer-button-bottom"><span>Erstellen</span></button>
    </form>
</div>

<a routerLink="/Erinnerungen"><button class="buttons outer-button-bottom"><span>Zurück</span></button></a>
