.checklist{
  background: transparent;

  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF;

  vertical-align: middle;

}
.headline{
  background-blend-mode: darken;
  background: transparent;
  border-radius: 6px;
  border: 2px solid #FFF;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 45px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.column{
  background: transparent;
  border-radius: 6px;
  border: 2px solid #FFF;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px;
  text-align: left;
  vertical-align: middle;
  line-height: 50px;
}

.outer-button-bottom {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 10%;
  background: transparent;
  border-radius: 6px;
  border: 2px solid #FFF;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
