<div class="checklist">
  <br>
  <div class="headline">{{checklist.name}}
    <button mat-icon-button (click)="toggleEdit()"><mat-icon>edit</mat-icon></button>
    <button *ngIf="checklist.editing" mat-icon-button (click)="deleteList()"><mat-icon>delete</mat-icon></button>
  </div>
  <textarea matInput cdkTextareaAutosize style="width: 100%;" *ngIf="checklist.editing; else notEditingDescr"
            [(ngModel)]="checklist.description"></textarea>
  <ng-template #notEditingDescr><p>{{checklist.description}}</p></ng-template>
  <p>Auslöser: {{checklist.trigger}}</p>
  <div class="column">
    <app-checklist-entry *ngFor="let e of checklist.entries | async" [entry]="e" [checklist]="checklist"></app-checklist-entry>
    <button *ngIf="checklist.editing" mat-button (click)="addEntry()">Neues Element</button>
  </div>
  <a routerLink="/"><button class="buttons outer-button-bottom"><span>Zurück</span></button></a>
</div>
